  
  .user-details h2 {
    margin-bottom: 5px;
  }
  
  .user-details p {
    margin-bottom: 2px;
  }
  
  .posts-section {
    margin-top: 20px;
  }
  
  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .post-header h3 {
    margin: 0;
  }

  button{
    background-color: green;
    border-radius: 5px;
    color: white;
  }
  
  .comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }